<!--
 * Copyright 2010 Christoph Laesche. All rights reserved.
 * 
 * Redistribution and use in source and binary forms, with or without modification, are
 * permitted provided that the following conditions are met:
 *
 *    1. Redistributions of source code must retain the above copyright notice, this list of
 *       conditions and the following disclaimer.
 *    2. Redistributions in binary form must reproduce the above copyright notice, this list
 *       of conditions and the following disclaimer in the documentation and/or other materials
 *       provided with the distribution.
 * 
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDER ``AS IS'' AND ANY EXPRESS OR IMPLIED
 * WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND
 * FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR
 * CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
 * CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
 * SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
 * ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING
 * NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF
 * ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
-->
<div class="palm-page-header multi-line">
    <div class="palm-page-header-wrapper">
    	<div class="icon" style="background-image: url(images/icon.png);">
	    </div>
        <div class="title" x-mojo-loc=''>
            <span id="header"></span>
        </div>
    </div>
</div>

<div class="palm-group">
	<div class="palm-group-title">
		<span id="descriptionheader">Description</span>
	</div>
	<div id="description" style="font-size: 16px; text-align: justify;">
		This application is a Google Latitude client that updates your position in a given interval.
	</div>
</div>

<div class="palm-group">
	<div class="palm-group-title">
		<span id="linksheader">Links</span>
	</div>
	<div class="palm-list">
		<div class="palm-row first" x-mojo-tap-highlight="momentary" id="websitelink">
			<div class="palm-row-wrapper">
				<div class="icon left" style="margin-left: 10px; background-position: 0 11px; background-image: url(images/link.png);"></div>
				<div class="title" id="websitelabel">Website</div>
			</div>
		</div>
		<div class="palm-row last" x-mojo-tap-highlight="momentary" id="donatelink">
			<div class="palm-row-wrapper">
				<div class="icon left" style="margin-left: 10px; background-position: 0 11px; background-image: url(images/pp.png);"></div>
				<div class="title" id="donatelabel">Donate</div>
			</div>
		</div>
	</div>
</div>

<div class="palm-group">
	<div class="palm-group-title">
		<span id="copyheader">Copyright Information</span>
	</div>
	<div style="font-size: 16px;">
		<em>&copy; 2010 Christoph Läsche</em>
     	<div style="text-align: jutify; font-size: 14px;">Distributed under the terms and conditions of the 2-clause BSD license.</div>
    	<div style="height: 5px;"></div>
		<div>Libraries used:</div>
		<div style="font-size: 14px; float: left;">WebOS OAuth</div>
		<div style="font-size: 13px; font-style: italic; text-align: right;">&copy; 2010 Daniel García</div>
		<div style="clear: left;"></div>
    	<div style="font-size: 14px; float: left;">OAuth Javascript Library</div>
		<div style="font-size: 13px; font-style: italic; text-align: right;">&copy; 2008 Netflix, Inc.</div>
		<div style="clear: left;"></div>
   		<div style="font-size: 14px; float: left;">Latitude Icon</div>
    	<div style="font-size: 13px; font-style: italic; text-align: right;">&copy; Google, Inc.</div>
	</div>
</div>